<h3><%= t :locked_jobs %></h3>

<div id="rush-job-mongoid-dashboard-locked-jobs" class="d-flex justify-content-left">
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= t :id %></th>
          <th><%= t :locked_at %></th>
          <th><%= t :locked_by %></th>
          <th><%= t :job_class %></th>
          <th><%= t :arguments %></th>
        </tr>
      </thead>
      <tbody>
        <% @locked_jobs.each do |job| %>
          <tr>
            <td><%= job.id %></td>
            <td><%= job.locked_at %></td>
            <td><%= job.locked_by %></td>
            <td><%= job.job_class %></td>
            <td><%= job.job_arguments %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<h3><%= t :queues %></h3>

<div id="rush-job-mongoid-dashboard-queues" class="d-flex justify-content-left">
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= t :name %></th>
          <th><%= t :priority %></th>
          <th><%= t :count %></th>
        </tr>
      </thead>
      <tbody>
        <% @queue_groups.each do |group| %>
          <tr>
            <td><%= group[:queue] %></td>
            <td><%= group[:priority] %></td>
            <td><%= group[:count] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render 'layouts/rush_job_mongoid/pagination', controller: 'dashboard', pagination_param: 'queue_groups_page', pages_count: @queue_groups_pages_count, page: @queue_groups_page %>
