<div class="modal fade" id="rush-job-mongoid-filter-modal" tabindex="-1" aria-labelledby="rushJobMongoidModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="rushJobMongoidModalLabel"><%= t(:filter_jobs) %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with url: request.path, method: :get do |form| %>
        <div class="modal-body">
          <%= form.label :doc_id, t(:id), class: 'form-label'  %>
          <%= form.text_field :doc_id, value: params[:doc_id], class: 'form-control' %>

          <%= form.label :priority, t(:priority), class: 'form-label'  %>
          <%= form.number_field :priority, value: params[:priority], class: 'form-control' %>

          <%= form.label :attempts, t(:attempts), class: 'form-label'  %>
          <%= form.number_field :attempts, value: params[:attempts], class: 'form-control' %>

          <%= form.label :job_class, t(:job_class), class: 'form-label'  %>
          <%= form.text_field :job_class, value: params[:job_class], class: 'form-control' %>

          <%= form.label :arguments, t(:arguments), class: 'form-label'  %>
          <%= form.text_field :arguments, value: params[:arguments], class: 'form-control' %>

          <%= form.label :locked_by, t(:locked_by), class: 'form-label'  %>
          <%= form.text_field :locked_by, value: params[:locked_by], class: 'form-control' %>

          <%= form.label :last_error, t(:last_error), class: 'form-label'  %>
          <%= form.text_field :last_error, value: params[:last_error], class: 'form-control' %>

          <%= form.label :queue, t(:queue), class: 'form-label'  %>
          <%= form.text_field :queue, value: params[:queue], class: 'form-control' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t(:close) %></button>
          <%= form.submit t(:filter), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
