<div class="bs-component mb-1">
  <nav class="navbar navbar-expand-lg bg-primary"
       data-bs-theme="dark"
       aria-label="Navigation">
    <div class="container-fluid">
      <%= link_to t(:delayed_title), root_path, class: "navbar-brand" %>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#rush-job-navbar-links"
              aria-controls="rush-job-navbar-links"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="rush-job-navbar-links">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to t(:dashboard), root_path, class: "nav-link#{' active' if current_page?(root_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to t(:jobs), rush_jobs_path, class: "nav-link#{' active' if current_page?(rush_jobs_path)}" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-bs-toggle="dropdown"
               href="#" role="button"
               aria-haspopup="true"
               aria-expanded="false">
               Options
            </a>
            <div class="dropdown-menu"
                 data-bs-popper="static">
              <%= button_to t("#{invert_theme}_mode"), settings_path, class: "nav-link", method: :patch, params: { setting: 'theme' } %>
              <%= button_to t("#{editing_enabled? ? 'disable_editing' : 'enable_editing'}"),
                            settings_path,
                            class: "nav-link",
                            method: :patch,
                            params: { setting: 'editing' },
                            data: { confirm: t("#{editing_enabled? ? 'disable_editing_confirmation' : 'enable_editing_confirmation'}") } %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
