<% if pages_count > 1 %>
  <nav aria-label="page navigation">
    <ul class="pagination">
      <%= render 'layouts/rush_job_mongoid/pagination_link',
          link_display: t(:previous),
          controller: controller,
          pagination_param: pagination_param,
          page: page - 1,
          link_class: page > 1 ? 'page-link' : 'page-link disabled' %>

      <% if pages_count < 5 %>
        <% (1..pages_count).each do |page_n| %>
          <%= render 'layouts/rush_job_mongoid/pagination_link',
              link_display: page_n,
              controller: controller,
              pagination_param: pagination_param,
              page: page_n,
              link_class: page == page_n ? 'page-link active' : 'page-link' %>
        <% end %>
      <% else %>
        <% if page != 2 %>
          <%= render 'layouts/rush_job_mongoid/pagination_link',
              link_display: '1',
              controller: controller,
              pagination_param: pagination_param,
              page: 1,
              link_class: page == 1 ? 'page-link active' : 'page-link' %>
        <% end %>

        <% if page == 1 %>
          <%= render 'layouts/rush_job_mongoid/pagination_link',
              link_display: '2',
              controller: controller,
              pagination_param: pagination_param,
              page: 2,
              link_class: 'page-link' %>
        <% end %>

        <% if page > 2%>
          <li class="page-item">
            <%= link_to '...', '#', class: 'page-link' %>
          </li>
        <% end %>

        <% if page > 1 && page < pages_count %>
          <% ((page - 1)..(page + 1)).each do |page_n| %>
            <%= render 'layouts/rush_job_mongoid/pagination_link',
                link_display: page_n,
                controller: controller,
                pagination_param: pagination_param,
                page: page_n,
                link_class: page == page_n ? 'page-link active' : 'page-link' %>
          <% end %>
        <% end%>

        <% if page < pages_count - 1%>
          <li class="page-item">
            <%= link_to '...', '#', class: 'page-link' %>
          </li>
        <% end %>

        <% if page == pages_count %>
          <%= render 'layouts/rush_job_mongoid/pagination_link',
              link_display: pages_count - 1,
              controller: controller,
              pagination_param: pagination_param,
              page: pages_count - 1,
              link_class: 'page-link' %>
        <% end %>

        <% if page != pages_count - 1 %>
          <%= render 'layouts/rush_job_mongoid/pagination_link',
              link_display: pages_count,
              controller: controller,
              pagination_param: pagination_param,
              page: pages_count,
              link_class: page == pages_count ? 'page-link active' : 'page-link' %>
        <% end %>
      <% end %>

      <%= render 'layouts/rush_job_mongoid/pagination_link',
          link_display: t(:next),
          controller: controller,
          pagination_param: pagination_param,
          page: page + 1,
          link_class: page < pages_count ? 'page-link' : 'page-link disabled' %>
    </ul>
  </nav>
<% end %>
