<% if pages_count > 1 %>
  <nav aria-label="page navigation">
    <ul class="pagination">
      <%= render 'layouts/rush_job_mongoid/pagination_link',
          link_display: t(:previous),
          controller: controller,
          pagination_param: pagination_param,
          page: page - 1,
          link_class: page > 1 ? 'page-link' : 'page-link disabled' %>

      <% if pages_count < 5 %>
        <% (1..pages_count).each do |page_n| %>
          <li class="page-item">
            <%= link_to page_n, { controller: controller, params: request.parameters.merge(pagination_param => page_n) }, class: "page-link #{'active' if page == page_n}" %>
          </li>
        <% end %>
      <% else %>
        <% if page < 3 || page >= pages_count - 1 %>
          <li class="page-item">
            <%= link_to 1, { controller: controller, params: request.parameters.merge(pagination_param => 1) }, class: "page-link #{'active' if page == 1}" %>
          </li>
          <li class="page-item">
            <%= link_to 2, { controller: controller, params: request.parameters.merge(pagination_param => 2) }, class: "page-link #{'active' if page == 2}" %>
          </li>
        <% else %>
          <li class="page-item">
            <%= link_to page - 1, { controller: controller, params: request.parameters.merge(pagination_param => page - 1) }, class: 'page-link' %>
          </li>
          <li class="page-item">
            <%= link_to page, { controller: controller, params: request.parameters.merge(pagination_param => page) }, class: "page-link active" %>
          </li>
        <% end %>
        <li class="page-item">
          <%= link_to '...', '#', class: 'page-link' %>
        </li>
        <li class="page-item">
          <%= link_to pages_count - 1, { controller: controller, params: request.parameters.merge(pagination_param => pages_count - 1) }, class: "page-link #{'active' if page == pages_count - 1}" %>
        </li>
        <li class="page-item">
          <%= link_to pages_count, { controller: controller, params: request.parameters.merge(pagination_param => pages_count) }, class: "page-link #{'active' if page == pages_count}" %>
        </li>
      <% end %>

      <li class="page-item">
        <% if page < pages_count %>
          <%= link_to 'Next', { controller: controller, params: request.parameters.merge(pagination_param => page + 1) }, class: 'page-link' %>
        <% else %>
          <%= link_to 'Next', { controller: controller, params: request.parameters.merge(pagination_param => page) }, class: 'page-link disabled' %>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>
