<!DOCTYPE html>
<html>
<head>
  <title>Rush job mongoid</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_importmap_tags %>
  <%= javascript_import_module_tag "rush_job_mongoid/application" %>

  <%= stylesheet_link_tag "rush_job_mongoid/application", media: "all" %>
</head>
<body data-bs-theme=<%= current_theme %>>
  <%= render 'layouts/rush_job_mongoid/navbar' %>
  <div id="rush-job-mongoid-flash-messages">
    <%= render 'layouts/rush_job_mongoid/flash_messages' %>
  </div>

  <div class="jobs-container">
    <%= yield %>
  </div>

</body>
</html>
