<h3 class="text-body">Edit Job <%= @job.id %></h3>

<%= form_with model: @job do |form| %>
  <div class="mb-3 w-25">
    <%= form.label :priority, t(:priority), class: 'form-label' %>
    <%= form.number_field :priority, class: 'form-control' %>
  </div>
  <%= form.submit t(:update), class: 'btn btn-primary' %>
<% end %>
