<h2>Welcome to RushJob MongoDB</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t :priority %></th>
      <th><%= t :attempts %></th>
      <th><%= t :job_class %></th>
      <th><%= t :arguments %></th>
      <th><%= t :run_at %></th>
      <th><%= t :locked_at %></th>
      <th><%= t :locked_by %></th>
      <th><%= t :failed_at %></th>
      <th><%= t :last_error %></th>
      <th><%= t :queue %></th>
    </tr>
  </thead>
  <tbody>
    <% @rush_jobs.each do |job| %>
      <tr>
        <td><%= job.priority %></td>
        <td><%= job.attempts %></td>
        <td><%= job.job_class %></td>
        <td><%= job.job_arguments %></td>
        <td><%= job.run_at %></td>
        <td><%= job.locked_at %></td>
        <td><%= job.locked_by %></td>
        <td><%= job.failed_at %></td>
        <td><%= job.last_error %></td>
        <td><%= job.queue %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav aria-label="page navigation">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <% if @pages_count < 5 %>
      <% (1..@pages_count).each do |page| %>
        <li class="page-item">
          <%= link_to page, root_path({ page: page }), class: 'page-link' %>
        </li>
      <% end %>
    <% else %>
      <% if @page < 3 || @page >= @pages_count - 1 %>
        <li class="page-item">
          <%= link_to 1, root_path({ page: 1 }), class: 'page-link' %>
        </li>
        <li class="page-item">
          <%= link_to 2, root_path({ page: 2 }), class: 'page-link' %>
        </li>
      <% else %>
        <li class="page-item">
          <%= link_to @page - 1, root_path({ page: @page - 1 }), class: 'page-link' %>
        </li>
        <li class="page-item">
          <%= link_to @page, root_path({ page: @page }), class: 'page-link' %>
        </li>
      <% end %>
      <li class="page-item">
        <%= link_to '...', '#', class: 'page-link' %>
      </li>
      <li class="page-item">
        <%= link_to @pages_count - 1, root_path({ page: @pages_count - 1 }), class: 'page-link' %>
      </li>
      <li class="page-item">
        <%= link_to @pages_count, root_path({ page: @pages_count }), class: 'page-link' %>
      </li>
    <% end %>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
